<!DOCTYPE html>
<html>
<head>
    <title>绿色设计</title>
    <#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="mainList">
        <div class="grid-btn">
            <shiro.hasPermission name="sys:batch:save">
                <a class="btn btn-primary" @click="queryData()"><i class="fa fa-search"></i>&nbsp;查询</a>
            </shiro.hasPermission>
            <a class="btn btn-primary" @click="saveData()"><i class="fa fa-floppy-o"></i>保存修改数据</a>
            <div class="form-group col-sm-2">
                <select id="selectPr" class="form-control" v-model="prSelect"
                        @change="selectPrId($event)">
                    <option value="-1" selected="selected">请选择产品</option>
                    <option v-for="item in prList" :value="item.id">
                        {{item.prName}}
                    </option>
                </select>
            </div>
            <div class="form-group col-sm-2">
                <select id="select" class="form-control" v-model="batchSelect">
                    <option value="-1" selected="selected">请选择批次号</option>
                    <option v-for="item in batchNos" :value="item.batchNo">
                        {{item.batchNo}}
                    </option>
                </select>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="layui-tab">
        <ul class="layui-tab-title">
            <li class="layui-this">原料阶段</li>
            <li>生产阶段</li>
            <li>销售阶段</li>
            <li>使用阶段</li>
            <li>回收处理阶段</li>
        </ul>
        <div class="layui-tab-content">
            <!--原料阶段-->
            <div class="layui-tab-item layui-show" style="overflow: auto">
                <!--原料阶段-->
                <form id="flagForm0">
                    <table id="flagTable0" class="table table-bordered text-nowrap" data-striped="true"
                           data-height="80">
                        <thead>
                        <tr>
                            <th style="width: 120px;text-align: center;">产品名称</th>
                            <th style="width: 90px;text-align: center;">原材料名称</th>
                            <th style="width: 120px;text-align: center;display: none;">阶段标识</th>
                            <th style="width: 120px;text-align: center;display: none;">用户ID</th>
                            <th style="width: 120px;text-align: center;display: none;">来源ID</th>
                            <th style="width: 120px;text-align: center;display: none;">产品ID</th>
                            <th style="width: 120px;text-align: center;display: none;">父类ID</th>
                            <th style="width: 200px;text-align: center;">所属过程</th>
                            <th style="width: 120px;text-align: center;display: none;">物质ID</th>
                            <th style="width: 220px;text-align: center;">物质名称</th>
                            <th style="width: 120px;text-align: center;">使用量/消耗量/排放量</th>
                            <th style="width: 120px;text-align: center;">单位</th>
                            <th style="width: 120px;text-align: center;display: none;">来源三种</th>
                        </tr>
                        </thead>
                        <tbody id="flagTbody0">
                        </tbody>
                    </table>
                </form>
                <form id="trantForm00">
                    <table id="trantTable00" class="table table-bordered text-nowrap" data-striped="true"
                           data-height="80">
                        <caption align="top">原材料运输过程</caption>
                        <thead>
                        <tr>
                            <th style="width: 120px;text-align: center;">产品名称</th>
                            <th style="width: 120px;text-align: center;">原材料名称</th>
                            <th style="width: 120px;text-align: center;">运输物质名称</th>
                            <th style="width: 120px;text-align: center;">运输方式</th>
                            <th style="width: 120px;text-align: center;">运输距离(单位：km)</th>
                            <th style="width: 120px;text-align: center;">运输重量(单位：t)</th>
                            <th style="width: 120px;text-align: center;">目的地</th>

                            <th style="width: 120px;text-align: center;display: none;">阶段标识</th>
                            <th style="width: 120px;text-align: center;display: none;">用户ID</th>

                            <th style="width: 120px;text-align: center;display: none;">产品ID</th>
                            <th style="width: 120px;text-align: center;display: none;">父类ID</th>
                            <th style="width: 120px;text-align: center;display: none;">运输方式标识</th>
                        </tr>
                        </thead>
                        <tbody id="trantTbody00">
                        </tbody>
                    </table>

                </form>
                <form id="trantForm0">
                    <table id="trantTable0" class="table table-bordered text-nowrap" data-striped="true"
                           data-height="80">
                        <caption align="top">运输过程</caption>
                        <thead>
                        <tr>
                            <th style="width: 120px;text-align: center;">产品名称</th>
                            <th style="width: 120px;text-align: center;">运输物质名称</th>
                            <th style="width: 120px;text-align: center;">运输方式</th>
                            <th style="width: 120px;text-align: center;">运输距离(单位：km)</th>
                            <th style="width: 120px;text-align: center;">运输重量(单位：t)</th>
                            <th style="width: 120px;text-align: center;">目的地</th>

                            <th style="width: 120px;text-align: center;display: none;">阶段标识</th>
                            <th style="width: 120px;text-align: center;display: none;">用户ID</th>

                            <th style="width: 120px;text-align: center;display: none;">产品ID</th>
                            <th style="width: 120px;text-align: center;display: none;">父类ID</th>
                            <th style="width: 120px;text-align: center;display: none;">运输方式标识</th>
                        </tr>
                        </thead>
                        <tbody id="trantTbody0">
                        </tbody>
                    </table>

                </form>
            </div>

            <!--生产阶段-->
            <div class="layui-tab-item" style="overflow: auto">
                <form id="flagForm1">
                    <table id="flagtable1" class="table table-bordered text-nowrap" data-striped="true"
                           data-height="80">
                        <thead>
                        <tr>
                            <th style="width: 120px;text-align: center;">产品名称</th>
                            <th style="width: 120px;text-align: center;display: none;">阶段标识</th>
                            <th style="width: 120px;text-align: center;display: none;">用户ID</th>
                            <th style="width: 120px;text-align: center;display: none;">来源ID</th>
                            <th style="width: 120px;text-align: center;display: none;">产品ID</th>
                            <th style="width: 120px;text-align: center;display: none;">父类ID</th>
                            <th style="width: 200px;text-align: center;">所属过程</th>
                            <th style="width: 120px;text-align: center;display: none;">物质ID</th>
                            <th style="width: 220px;text-align: center;">物质名称</th>
                            <th style="width: 120px;text-align: center;">使用量/消耗量/排放量</th>
                            <th style="width: 120px;text-align: center;">单位</th>
                        </tr>
                        </thead>
                        <tbody id="flagTbody1">
                        </tbody>
                    </table>
                </form>

            </div>

            <!--销售阶段-->
            <div class="layui-tab-item">
                <form id="trantForm2">
                    <table id="trantTable2" class="table table-bordered text-nowrap" data-striped="true"
                           data-height="80">
                        <caption align="top">运输过程</caption>
                        <thead>
                        <tr>
                            <th style="width: 120px;text-align: center;">产品名称</th>
                            <th style="width: 120px;text-align: center;">运输物质名称</th>
                            <th style="width: 120px;text-align: center;">运输方式</th>
                            <th style="width: 120px;text-align: center;">运输距离(单位：km)</th>
                            <th style="width: 120px;text-align: center;">运输重量(单位：t)</th>
                            <th style="width: 120px;text-align: center;">目的地</th>

                            <th style="width: 120px;text-align: center;display: none;">阶段标识</th>
                            <th style="width: 120px;text-align: center;display: none;">用户ID</th>

                            <th style="width: 120px;text-align: center;display: none;">产品ID</th>
                            <th style="width: 120px;text-align: center;display: none;">父类ID</th>
                            <th style="width: 120px;text-align: center;display: none;">运输方式标识</th>
                        </tr>
                        </thead>
                        <tbody id="trantTbody2">
                        </tbody>
                    </table>

                </form>
            </div>

            <!--使用阶段-->
            <div class="layui-tab-item">
                <form id="flagForm3">
                    <table id="flagtable3" class="table table-bordered text-nowrap" data-striped="true"
                           data-height="80">
                        <thead>
                        <tr>
                            <th style="width: 120px;text-align: center;">产品名称</th>
                            <th style="width: 120px;text-align: center;display: none;">阶段标识</th>
                            <th style="width: 120px;text-align: center;display: none;">用户ID</th>
                            <th style="width: 120px;text-align: center;display: none;">来源ID</th>
                            <th style="width: 120px;text-align: center;display: none;">产品ID</th>
                            <th style="width: 120px;text-align: center;display: none;">父类ID</th>
                            <th style="width: 200px;text-align: center;">所属过程</th>
                            <th style="width: 120px;text-align: center;display: none;">物质ID</th>
                            <th style="width: 220px;text-align: center;">物质名称</th>
                            <th style="width: 120px;text-align: center;">使用量/消耗量/排放量</th>
                            <th style="width: 120px;text-align: center;">单位</th>
                        </tr>
                        </thead>
                        <tbody id="flagTbody3">
                        </tbody>
                    </table>
                </form>

            </div>

            <!--回收处理阶段-->
            <div class="layui-tab-item">
                <form id="flagForm4">
                    <table id="flagtable4" class="table table-bordered text-nowrap" data-striped="true"
                           data-height="80">
                        <thead>
                        <tr>
                            <th style="width: 120px;text-align: center;">产品名称</th>
                            <th style="width: 90px;text-align: center;">原材料名称</th>
                            <th style="width: 120px;text-align: center;display: none;">阶段标识</th>
                            <th style="width: 120px;text-align: center;display: none;">用户ID</th>
                            <th style="width: 120px;text-align: center;display: none;">来源ID</th>
                            <th style="width: 120px;text-align: center;display: none;">产品ID</th>
                            <th style="width: 120px;text-align: center;display: none;">父类ID</th>
                            <th style="width: 200px;text-align: center;">所属过程</th>
                            <th style="width: 120px;text-align: center;display: none;">物质ID</th>
                            <th style="width: 220px;text-align: center;">物质名称</th>
                            <th style="width: 120px;text-align: center;">使用量/消耗量/排放量</th>
                            <th style="width: 120px;text-align: center;">单位</th>
                            <th style="width: 120px;text-align: center;display: none;">来源三种</th>
                        </tr>
                        </thead>
                        <tbody id="flagTbody4">
                        </tbody>
                    </table>
                </form>

                <form id="trantForm44">
                    <table id="trantTable44" class="table table-bordered text-nowrap" data-striped="true"
                           data-height="80">
                        <caption align="top">原材料运输过程</caption>
                        <thead>
                        <tr>
                            <th style="width: 120px;text-align: center;">产品名称</th>
                            <th style="width: 120px;text-align: center;">原材料名称</th>
                            <th style="width: 120px;text-align: center;">运输物质名称</th>
                            <th style="width: 120px;text-align: center;">运输方式</th>
                            <th style="width: 120px;text-align: center;">运输距离(单位：km)</th>
                            <th style="width: 120px;text-align: center;">运输重量(单位：t)</th>
                            <th style="width: 120px;text-align: center;">目的地</th>

                            <th style="width: 120px;text-align: center;display: none;">阶段标识</th>
                            <th style="width: 120px;text-align: center;display: none;">用户ID</th>

                            <th style="width: 120px;text-align: center;display: none;">产品ID</th>
                            <th style="width: 120px;text-align: center;display: none;">父类ID</th>
                            <th style="width: 120px;text-align: center;display: none;">运输方式标识</th>
                        </tr>
                        </thead>
                        <tbody id="trantTbody44">
                        </tbody>
                    </table>

                </form>

                <form id="trantForm4">
                    <table id="flagTrant4" class="table table-bordered text-nowrap" data-striped="true"
                           data-height="80">
                        <caption align="top">运输过程</caption>
                        <thead>
                        <tr>
                            <th style="width: 120px;text-align: center;">产品名称</th>
                            <th style="width: 120px;text-align: center;">运输物质名称</th>
                            <th style="width: 120px;text-align: center;">运输方式</th>
                            <th style="width: 120px;text-align: center;">运输距离(单位：km)</th>
                            <th style="width: 120px;text-align: center;">运输重量(单位：t)</th>
                            <th style="width: 120px;text-align: center;">目的地</th>
                            <th style="width: 120px;text-align: center;display: none;">阶段标识</th>
                            <th style="width: 120px;text-align: center;display: none;">用户ID</th>
                            <th style="width: 120px;text-align: center;display: none;">产品ID</th>
                            <th style="width: 120px;text-align: center;display: none;">父类ID</th>
                            <th style="width: 120px;text-align: center;display: none;">运输方式标识</th>
                        </tr>
                        </thead>
                        <tbody id="trantTbody4">
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>

    <script>
        //注意：选项卡 依赖 element 模块，否则无法进行功能性操作
        layui.use('element', function () {
            var element = layui.element;
        });
    </script>


    <div id="batchNo" style="display: none;">
        <form class="form-horizontal">
            <div class="form-group">
                <div class="form-group">
                    <div class="col-sm-2 control-label">方案版本</div>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" v-model="bNo" placeholder="方案版本"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2 control-label">使用量</div>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" v-model="bUsage"
                               onkeyup="value=value.replace(/[^\d{1,}\.\d{1,}|\d{1,}]/g,'')" placeholder="(eg:0.00)"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2 control-label">单位</div>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" readonly v-model="bUnit" placeholder="单位"/>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="${request.contextPath}/statics/js/modules/design/design.js?_${.now?long}"></script>
</body>
</html>