<!DOCTYPE html>
<html>
<head>
    <title></title>
		<#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
			<#if shiro.hasPermission("sys:transport:save")>
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			</#if>
			<#if shiro.hasPermission("sys:transport:update")>
            <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			</#if>
			<#if shiro.hasPermission("sys:transport:delete")>
            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			</#if>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
														                    <div class="form-group">
                        <div class="col-sm-2 control-label">物质ID</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="transport.materialId" placeholder="物质ID"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">产地</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="transport.source" placeholder="产地"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">0海， 1陆， 2空</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="transport.type" placeholder="0海， 1陆， 2空"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">运输距离（单位是km）</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="transport.distance" placeholder="运输距离（单位是km）"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">批次号</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="transport.version" placeholder="批次号"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="transport.userId" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="transport.createdTime" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">运输重量（单位是t）</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="transport.weight" placeholder="运输重量（单位是t）"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">运输物质名称</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="transport.materialName" placeholder="运输物质名称"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">属于的标识 0 原料 1 生产 2 销售 3 使用 4 回收</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="transport.flag" placeholder="属于的标识 0 原料 1 生产 2 销售 3 使用 4 回收"/>
                        </div>
                    </div>
							            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" id="btnSaveOrUpdate" data-loading-text="保存中..." @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
</div>

<script src="${request.contextPath}/statics/js/modules/sys/transport.js?_${.now?long}"></script>
</body>
</html>