<!DOCTYPE html>
<html>
<head>
    <title>特征化指标</title>
    <#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class=" grid-btn">
            <a class="btn btn-primary" @click="queryFeature()"><i class="fa fa-plus"></i>&nbsp;查询</a>
            <div class="form-group col-sm-2">
                <input type="text" class="form-control" id="queryFeas" placeholder="请输入中文或者英文简称...">
            </div>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="featrueFactor.zhName" placeholder=""/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="featrueFactor.enName" placeholder=""/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="featrueFactor.abb" placeholder=""/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="featrueFactor.unit" placeholder=""/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="featrueFactor.source" placeholder=""/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="featrueFactor.createdTime" placeholder=""/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="featrueFactor.userName" placeholder=""/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" id="btnSaveOrUpdate" data-loading-text="保存中..."
                       @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
</div>


<div id="detailsId" style="display: none">
    <table class="layui-table">
        <thead>
        <tr>
            <th colspan="2">指标基本信息</th>
        </tr>
        <thead>
        <tbody>
        <tr>
            <td>中文名称：</td>
            <td id="fe_znName"></td>
        </tr>
        <tr>
            <td>英文名称：</td>
            <td id="fe_enName"></td>
        </tr>
        <tr>
            <td>缩写：</td>
            <td id="fe_abb"></td>
        </tr>
        <tr>
            <td>单位：</td>
            <td id="fe_unit"></td>
        </tr>
        </tbody>
    </table>
    <br>
    <br>
    <table class="layui-table" id="factor_id">
    </table>
</div>


<script src="${request.contextPath}/statics/js/modules/sys/featruefactor.js?_${.now?long}"></script>
</body>
</html>