<!DOCTYPE html>
<html>
<head>
    <title>生产阶段</title>
    <#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
            <div class="form-group col-sm-2">
                <input type="text" class="form-control" v-model="q.name" @keyup.enter="query" placeholder="原辅料名称">
            </div>
            <a class="btn btn-default" @click="query">查询</a>
            <shiro.hasPermission name="sys:dict:save">
                <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
            </shiro.hasPermission>
            <shiro.hasPermission name="sys:dict:update">
                <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
            </shiro.hasPermission>
            <shiro.hasPermission name="sys:dict:delete">
                <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
            </shiro.hasPermission>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
        <table id="jqGrid1"></table>
    </div>

    <div id="" style="display: none;">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-2 control-label">原辅料名称</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="dict.name" placeholder="原辅料名称"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">消耗量</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="dict.type" placeholder="消耗量"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">单位</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="dict.code" placeholder="单元"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">备注</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="dict.remark" placeholder="备注"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">操作</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="dict.orderNum" placeholder="排序"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
</div>

<script src="${request.contextPath}/statics/js/modules/cycle/production.js?_${.now?long}"></script>
</body>
</html>